processed_radar/
submitted/
static/plugins/
static/radargrams/
__pycache__/
temp/
cache/
.privatekey
traffic.log
interp.gpkg
interp.sqlite
plan_2025/
dronbreen/
static/images/examples/filantropbreen_double_bed.jpg
