processed_radar/
submitted/
static/plugins/
static/radargrams/
__pycache__/
temp/
cache/
.privatekey
/traffic.*
interp.gpkg
interp.sqlite
plan_2025/
dronbreen/
static/images/examples/filantropbreen_double_bed.jpg
figures/
web/static/plugins/
web/static/radargrams/
web/static/images/examples/filantropbreen_double_bed.jpg
.env
dems/
.envrc
.direnv/
.vscode/
/result
.ruff_cache/
tables/

