ipython
matplotlib
pandas
geopandas
pytest
tqdm
xarray
h5netcdf
dask
flask
flask-httpauth
flask-login
requests
jsonschema
scipy
werkzeug
gevent
scikit-learn
rasterio
gdal
pyarrow
ssort
python-dotenv
textalloc
