<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Svalbard radar interpretation experiment</title>-->
    {% set base_title = "Svalbard radar interpretation experiment" %}
    {% set base_title = "Beneath The Ice: A collective glacier radar mapping experiment" %}
    {% set base_title = "GlacieRSTATE: the collaborative Glacier Radar on Svalbard for Temperate ice and Thickness Experiment" %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
		{% block extrahead %}{% endblock extrahead %}
</head>
<body>
  <script src="{{ url_for('static', filename='base.js') }}"></script>
	{% block content %}{% endblock content %}
</body>
