{% extends "base.html.jinja2" %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/node_modules/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/node_modules/leaflet-draw/dist/leaflet.draw.css') }}">

    <meta name="radarkey" content="{{radar_key}}">
{% endblock extrahead %}
{% block content %}
    <a href="/" id="home-button">Home</a>
    <h1>Digitizing "{{radar_key}}"</h1>
    <!--
    <form id="name-form" onSubmit="return false;">
        <label for="name">Name/alias:</label>
        <input type="text" id="user-name" name="name">
    </form>
    -->
    <div class="digitize-widgets-container">
        <div class="digitize-widgets-item">
            <button id="save-button" class="button">Save progress</button>
            <input type="file" id="load-button" accept=".json,application/json">
        </div>
        <!-- <button id="load-button">Load data</button> -->
        <div class="digitize-widgets-item">
            <button id="submit-button" class="button">Submit data</button>
        </div>

        <div class="digitize-widgets-item">
            <form id="comment-form" onSubmit="return false;" style="max-width: 100%; display: flex; flex-direction: column;">
                <label for="comment">Comment</label>
                <textarea id="user-comment" name="comment" rows=4 cols=50></textarea>
            </form>
        </div>
        <div id="overview-map"></div>

    </div>
    <div>
        <p id="response-text" style="color: red;"></p>
    </div>

    <div class="digitize-widgets-container">
        <div style="margin: 10px; border: 2px solid black; background-color: #ffffaa; max-width: 100px; display: flex; flex-direction: column;">
            <p>GPR display options</p>
            <button id="display-abslog">Abslog</button>
            <button id="display-classic">Classic</button>
        </div>
        <form id="interp-class-select"></form>
    </div>

    <div style="width: 90vw; left: 0px;">
        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='plugins/node_modules/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/node_modules/leaflet-draw/dist/leaflet.draw.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/node_modules/leaflet-polylinedecorator/dist/leaflet.polylineDecorator.js') }}"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='digitize.js') }}"></script>
{% endblock content %}
