{% extends "base.html.jinja2" %}
{% block extrahead %}
    <title>Home - {{base_title}}</title>
{% endblock extrahead %}
{% block content %}
    <h1>The Svalbard radar digitization experiment</h1>

    <p>
    {% if user != None %}
        Logged in as <b>{{user}}</b>
        <button id="logout-button">Log out</button>
    {% else %}
        <!--<button id="login-button">Log in</button>-->
        <a href="/login">Log in</a>
    {% endif %}

    </p>
    <p style="font-size: 18pt;">
    <b>Please read the <a href="/howto">instructions</a> before starting!</b>
    </p>
    <!-- <div class="radargram-index"> -->
    {% for glacier_key, glacier_radargrams in all_radargrams.items() %}
        <div class="radargram-perglacier">
            <h2>{{glacier_radargrams._meta.nice_name}}</h2>
            <p>Done by {{glacier_radargrams._meta.n_total_submissions}}  {{"person" if glacier_radargrams._meta.n_total_submissions == 1 else "people"}}</p>
            <div class="radargram-index">
                {% for radar_key, values in glacier_radargrams.items() %}
                    {% if radar_key != "_meta" %}

                    <a href="/digitize/{{radar_key}}" class="radargram-choice radargram-choice-{% if user == None %}anonymous{% elif values.n_submitted_by_user > 0 %}finished{% else %}unfinished{% endif %}">
                        <b>{{radar_key}}</b><br>
                        <list>
                            <li>Done by {{values.n_total_submissions}} {{"person" if values.n_total_submissions == 1 else "people"}}.</li>
                        {% if user != None %}
                            <li>{{ 'Not done by you' if values.n_submitted_by_user == 0 else 'Done (' + values.n_submitted_by_user | string + "x) by you!" }}</li>
                        {% endif %}
                        <li>Length: {{values.length_km_rounded}} km.</li>
                        </list>
                        <img src="{{values.thumbnail}}"></img>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock content %}
